<div class="container-fluid">
  <h2>Stores</h2>
  <div class="text-right mb-2">
    Search
    <input type="text" [(ngModel)]="searchText">
  </div>
  <table class="table table-bordered">
    <thead>
    <th>Id</th>
    <th>Code</th>
    <th>Description</th>
    <th>Name</th>
    <th>Opening Date</th>
    <th>Store Type</th>
    <th></th>
    </thead>
    <tr *ngFor="let store of stores | slice: (page-1) * pageSize : page * pageSize | search : searchText">
      <td>{{store.id}}</td>
      <td>{{store.code}}</td>
      <td>{{store.description}}</td>
      <td><input type="text" id="{{store.id}}" [(ngModel)]="store.name"
                 [ngClass]="{'disabled': !store.editable}"></td>
      <td>{{store.openingDate}}</td>
      <td>{{store.storeType}}</td>
      <td>
        <button *ngIf="!store.editable" class="btn btn-primary" (click)="edit(store)">Edit</button>
        <button *ngIf="store.editable" class="btn btn-primary" (click)="save(store)">Save</button>
      </td>
    </tr>
  </table>
  <ngb-pagination
    *ngIf="stores && stores.length > 0"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="stores.length"
    [boundaryLinks]="true"></ngb-pagination>
</div>
